#header {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
}

#location div p,
h4 {
    margin: 0;
}

#returns-orders p,h3 {
    margin: 0;
}