body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center 120px;
}