#items-section {
    width: 100%;
    margin-top: 350px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.items-container{
    padding: 15px 15px 55px 15px;
    height: 460px;
    width:300px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.items-container h2{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    height: 50px;
    padding: 0px 12px;
}

.items-grid{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 2px;
}

.items-grid img,p {
    padding: 0px;
}

.item {
    padding: 10px;
}

#see-more {
    cursor: pointer;
    color: rgb(60, 122, 255);
    margin: 0px;
    padding: 0px 0px 35px 0px;
}

#see-more:hover{
    text-decoration:underline;
}