#items-section {
    width: 100%;
    margin-top: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.items-container{
    padding: 15px;
    height: 340px;
    width:300px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.items-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
}

.item {
    height: 80px;
    width: 60px;
}